@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';


input[type="button"]:hover {
    cursor: pointer;
}
input[type="button"] {
    outline: none;
}
input[type="button"]:active {
    opacity: 0.5;
    background-color: #4f46e5;
    color: white;
}